.company {
  display: grid;
  grid-template-rows: 1.5rem auto;
  @extend .pb-3;
  @extend .ps-3;

  .title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
@extend .section-title;  }
  .info-text {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self:center;
    text-align: justify;
    p {
      margin-bottom: 1rem;
    }
  }
  .back-company {
    max-width: 100%;
    grid-column: 1/2;
    justify-self: center;
    grid-row: 2/3;
    filter: saturate(0);
    opacity: 0.07;
  }
  @include media(sm){
    .back-company{
      width:20%;
    }
    .info-text{
      width: 70%;
      justify-self: center;
      margin-bottom: 2rem;
    }
  }
}
